<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flavor Fiesta - Sign Up</title>
  <link rel="stylesheet" type="text/css" href="/css/login.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <h1>Flavor Fiesta</h1>
    <nav>
     
    </nav>
  </header>

  <main class="container">
    <div class="login-signup-container">
      <div class="signup-container">
        <h2>Sign Up</h2>
        <form method="post" action="/signup">
          <input type="text" placeholder="Name" name="name" required>
          <input type="text" placeholder="Username" name="username" required>
          <input type="email" placeholder="Email" name="email" required>
          <input type="password" placeholder="Password" name="password" required>
          <button type="submit" class="btn">Sign Up</button>
        </form>
        <p>Already have an account? <a href="/login" class="login-link">Login</a></p>
      </div>
    </div>
  </main>

  <footer>
    <p>&copy; 2024 Flavor Fiesta. All rights reserved.</p>
  </footer>
</body>
</html>